{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
  //   "rules": [
  //     {
  //       "test": "/\.tsx?$/",
  //       "loader": 'babel-loader',
  //     },
  //     {
  //       "test": /\.js$/,
  //       use: ["source-map-loader"],
  //       enforce: "pre"
  //     },
  // ]
}
